<div class="center jumbotron">
  <h1>Welcome to Framgia Test System</h1>
  <h2>
    This is the home page for the
    <a href="">Framgia Test System</a>
    develop by Le Minh Tuan and Nguyen Thi Kim Chi.
  </h2>
</div>