<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <div class="avatar">
          <% if @user.avatar_url.nil? %>
            <img src="https://secure.gravatar.com/avatar/1?s=150" class="gravatar" %>
          <% else %>
            <%= image_tag @user.avatar.standard.url, class: "gravatar" %>
          <% end %>
        </div>
        <%= @user.name %>
      </h1>
    </section>    
  </aside>
  <div class="col-md-8">    
  </div>
</div>
